name: Deploy to Development Environment

on:
  workflow_run:
    workflows: ["Bump Version and Create Release"] # ต้องตรงกับชื่อ name: ในไฟล์ Bump Version เป๊ะๆ
    types: [completed]
    branches: [development] # ให้ทำงานเฉพาะเมื่อ Bump Version จบบน branch development

jobs:
  deploy-development:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Notify Deployment Success
        run: echo "Deployment to development environment completed successfully."
        

