name: Deploy to Development Environment

on:
  push:
    branches:
      - development

jobs:
  deploy-development:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Notify Deployment Success
        run: echo "Deployment to development environment completed successfully."